<%- include('../template/top.ejs', { files: [] }) %>
<%- include('../template/navbar.ejs') %>

<%- include('../template/menu.ejs') %>

<main class="content">
    <span class="page-title">Editar usuário</span>
    <form action="/users/<%= user._id %>/edit" method="POST">
        <%- include('./form.ejs', {
            user: user
        }) %>
    </form>
</main>

<%- include('../template/end.ejs', { files: [] }) %>
