<%- include('../template/top.ejs', { files: [] }) %>
<%- include('../template/navbar.ejs') %>

<%- include('../template/menu.ejs') %>

<main class="content">
    <span class="page-title">Usuários</span>
    <table id="table_id" class="display table-pattern">
        <thead>
        <tr>
            <th>Opções</th>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Telefone</th>
        </tr>
        </thead>
        <tbody>
            <% if (users.length > 0) { %>
                <% users.forEach((user, index) => {  %>
                    <tr>
                        <td>
                            <%- include('../template/buttons/edit.ejs', {
                                'href': '/users/'+ user._id +'/edit',
                            }) %>
                        </td>
                        <td><%= user.name %></td>
                        <td><%= user.email %></td>
                        <td><%= user.fone %></td>
                    </tr>
                <% }); %>
            <% } %>
        </tbody>
    </table>

    <%- include('../template/buttons/create.ejs', {
        'href': '/users/create',
        'class': 'button-expensive-mobile'
    }) %>

</main>

<%- include('../template/end.ejs', { files: ['/js/data-tables-initialization.js'] }) %>
